<nav class="navbar fixed-top navbar-expand-md flex-nowrap navbar-new-top" id="nav">
            <a href="/" class="navbar-brand"><img src="#" alt=""/>Mehran Hussain</a>
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link px-2"   href="/">Home</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link px-2"   href="/about">About</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link px-2"   href="/secret">Secret</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2"  href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2"   href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2"   href="/logout">Logout</a>
                </li>
            </ul>
             <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
<div id="space">
        <nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
            <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">

                <ul class="navbar-nav w-100 justify-content-center px-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Just</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">For</a></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Testing</a></a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link">Node JS</a></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Registration</a></a>
                    </li>
                     
                </ul>
            </div>
        </nav>

        </div>